@import url('https://fonts.googleapis.com/css?family=Numans');
body {
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

li {
    border: 7px solid rgba(94, 255, 0, 0.192);
    border-radius: 25px;
    margin: 85px 0px 0px 500px;
    padding: 0px 10px 4px 14px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
}

.big-icon {
    margin: 0px 0px 50px 112px;
    color: rgb(255, 255, 255);
    /* justify-content: center; */
}

.big-icon:hover {
    color: black;
}

::placeholder {
    color: rgb(255, 255, 255);
}

.button-1-1 {
    text-decoration: none;
}

.user-name {
    margin: 0px 0px 1px 22px;
    padding: 2px 20px 5px 3px;
    text-align: center;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    background: none;
    border: none;
    color: rgb(0, 0, 0);
}

.pass-word {
    margin: 0px 0px 1px 34px;
    padding: 2px 20px 5px 3px;
    text-align: center;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    background: none;
    border: none;
    color: rgb(0, 0, 0);
}

.user-name:hover {
    background-color: rgba(255, 255, 255, 0.233);
    /* margin: 0px 0px 1px 12px;
    padding: 2px 20px 5px 12px; */
    text-align: center;
}

.pass-word:hover {
    background-color: rgba(255, 255, 255, 0.233);
    /* margin: 0px 0px 1px 25px;
    padding: 2px 20px 5px 12px; */
    text-align: center;
}

.button-2 {
    margin: 0px 0px 1px 75px;
    padding: 6px 35px 6px 35px;
    border: 1px solid yellow;
    border-radius: 5px;
    background-color: rgb(6, 255, 19);
    box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.705);
}

.button-2:hover {
    margin: 0px 0px 1px 75px;
    padding: 6px 35px 6px 35px;
    border: 1px solid yellow;
    border-radius: 5px;
    background: none;
}

.button-1 {
    margin: 25px 0px -10px 68px;
    padding: 6px 35px 6px 35px;
    border: 1px solid yellow;
    border-radius: 5px;
    background: none;
    box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.705);
}

.button-1:hover {
    border: 1px solid yellow;
    border-radius: 5px;
    background-color: yellow;
}

.for-get {
    margin: 0px 0px 1px 22px;
    padding: 2px 20px 5px 12px;
    color: black;
    /* background-color: rgba(252, 252, 252, 0.178);
    border: 2px solid rgba(0, 0, 0, 0.342); */
    text-decoration: none;
}

.for-get:hover {
    color: black;
    background-color: rgba(252, 252, 252, 0.473);
}

.mini-icon {
    color: rgb(0, 0, 0);
    margin: 7px -32px 17px 11px;
    padding: 5px 9px 10px 9px;
    background-color: yellow;
    box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.705);
}

.mini-icon:hover {
    background-color: red;
}

.password-icon {
    margin: 7px -45px 17px 12px;
    box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.705);
}

h4 {
    color: rgb(255, 255, 255);
    /* background-color: rgba(0, 0, 0, 0.151); */
    border-radius: 7px;
}

.button-1-2 {
    text-decoration: none;
    color: black;
}

.focus:focus {
    background-color: white;
    outline: none !important;
    box-shadow: 0 0 10px #0873e6;
}

.focus:focus::placeholder {
    color: black;
}

.password-icon:checked {
    background-color: coral;
}