@import url('https://fonts.googleapis.com/css?family=Numans');
body{
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    } 

 
li{
    border: 7px solid rgba(94, 255, 0, 0.192);
  

    border-radius: 25px;
    margin:36px 0px 0px 360px;
    padding: 0px 10px 4px 14px;
    width: 647px;  
    background-color: rgba(0, 0, 0, 0.5);
}
.big-icon{
    margin: 0px 0px 4px 216px;
    color: rgb(255, 255, 255);
    /* justify-content: center; */
}
.big-icon:hover{
    color: black;

}
.user--name{
    margin: 8px 3px 11px 16px;
    padding: 5px 11px 6px 15px;
    text-align: center;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    background: none;

    border: none;
    color: rgb(0, 0, 0);
}

.pass-word{
    margin: 0px 0px 1px 39px;
    padding: 2px 20px 5px 9px;
    text-align: center;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    background: none;
    border: none;
    color: rgb(0, 0, 0);
}
.focus:focus{
    background-color: white;
    outline: none !important;
    box-shadow: 0 0 10px #0873e6;  
    
}
.focus:focus::placeholder{

    color: black;
}



.button-1{
    margin: 25px 0px -10px 178px;
    padding: 6px 35px 6px 35px;
    border: 1px solid yellow;
    border-radius: 5px;
    background: none;

}
.button-1:hover{
    border: 1px solid yellow;
    border-radius: 5px;
    background-color: yellow;

}

.button-1-2{
    text-decoration: none;
    color: black;
}
.sign-up{
    background-color: yellow;
}
.sign-up:hover{
    background: none;
}
.mini-icon{
    color: rgb(0, 0, 0);
margin: 7px -32px 17px 11px;
padding: 5px 9px 10px 9px;
background-color: yellow;
}
.mini-icon:hover{
    background-color: red;
}
.name-icon{
  margin:0px -5px 0px 0px;   
 padding:9px 13px 7px 13px;
 box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.705);

}
.mini-icon-password{
    margin: 7px -45px 17px 24px;
 box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.705);

}
#fname-lname:hover{
    background-color: red;

}
.email-icon{
    margin: 0px 0px 0px 0px;
    padding: 9px 15px 0px 12px;
 box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.705);


}
.email{
    margin: 0px 0px 0px 0px;
    padding: 7px 110px 0px 208px;
    background: none;
    /* text-align: center; */
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    background: none;
    border: none;
     /* border: none; */
} 


h4{
    color: rgb(255, 255, 255);

    border-radius: 7px;

}
::placeholder {
    color: rgb(255, 255, 255);
    
  }
.fname{
margin: 0px 0px 0px 5px;
padding: 1px 45px 4px 7px;
border: none;
box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);

background: none;
}
.lname{
    margin: 0px 0px 0px -7px;
    padding: 1px 45px 4px 7px;
    border: none;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);

    background: none;
    }
.form-control{
    background: none;
    color: yellow;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    border: none
}
.input-group-text{
    background-color: rgb(60, 255, 0);
    border-left: none;
}
#mini-icon-username-ID{
  margin: 0px 0px 0px 83px;
    padding:2px 282px 0px 22px;

}
/* .user--name:hover{
background: none;
} */
.mini-icon-username{
    padding: 11px 10px 0px 10px;
    margin: 8px 0px 11px 0px;
 box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.705);

}
.mini-icon-1{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 80px;
}
.upload-1{
    background-color: yellow;
}
.upload-1:hover{
    background-color: red;
}
.badge{
    margin: 10px 21px 0px -107px;
    padding: 0px 0px 0px 0px;
}
 /*the container must be positioned relative:*/
 .custom-select {
     
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: rgb(145, 255, 0);
    
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}
.select-selected{
    color: black;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}